[Unit]
Description=frps daemon
After=network.target

[Service]
TimeoutStartSec=30
ExecStart=/home/frp/frps -c /home/frp/frps.ini
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
